.input-group {
  background-color: #add8e6; /* Azul claro */
  padding: 10px; /* Opcional: adiciona um pouco de espaçamento interno */
  border-radius: 5px; /* Opcional: arredonda os cantos */
}

.list-group-item {
  background-color: #add8e6; /* Azul claro */

}

.body {
  background-color: #f0f8ff; /* Cor de fundo azul claro */
  color: #333; /* Cor do texto */
  font-family: Arial, sans-serif;
}

.container {
  background-color: #ffffff; /* Cor de fundo branca para o container */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

h1, h3, h5 {
  color: #007bff; /* Cor azul para os títulos */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
}